img {
	display: block;
	width: 50%;
	margin: auto;
}

.app {
	text-align:center;
	color:#fff;
	font-family:UnitRoundedOT,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:28px;
	font-weight:500;
}
a {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;

	color: #ffffff;
	font-size: 1.5rem;
	text-decoration: none;
}
